@model EditInvoiceViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Invoice Form</h4>
    <p class="card-description"> Editing Invoice </p>
    <form class="forms-sample" asp-action="Edit">
      <div class="form-group row">
        <label asp-for = "Date" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <input  asp-for = "Date" type="date" class="form-control" placeholder="Date">
          <span asp-validation-for="Date" class="text-danger"></span>
        </div>  
      </div>
      <div class="form-group row">
        <label asp-for = "ClientId" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <select  asp-for = "ClientId" asp-items="@Model.Clients" type="text" class="form-select" placeholder="Type">
              <option value="" selected disabled>select your client</option>
          </select>
          <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>  
      </div>
       <div class="form-group row">
        <label asp-for = "ItemId" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <select  asp-for = "ItemId" asp-items="@Model.Items" type="text" class="form-select" placeholder="Type">
              <option value="" selected disabled>select your item</option>
          </select>
          <span asp-validation-for="ItemId" class="text-danger"></span>
        </div>  
      </div>
      <div class="form-group row">
        <label asp-for = "Price" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <input  asp-for = "Price" type="text" class="form-control"placeholder="Price">
          <span asp-validation-for="Price" class="text-danger"></span>
        </div>  
      </div>
      <div class="form-group row">
        <label asp-for = "Quantity" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <input  asp-for = "Quantity" type="text" class="form-control" placeholder="Quantity">
          <span asp-validation-for="Quantity" class="text-danger"></span>
         </div>  
      </div>
      <div class="form-group row">
        <label asp-for = "PaidUp" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <input  asp-for = "PaidUp" type="text" class="form-control"placeholder="Paid Up">
          <span asp-validation-for="PaidUp" class="text-danger"></span>
        </div> 
      </div>
      <div class="form-group row">
        <label asp-for = "Discount" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <input  asp-for = "Discount" type="text" class="form-control"placeholder="Discount">
          <span asp-validation-for="Discount" class="text-danger"></span>
        </div>  
      </div>
      <a asp-action="Index" class="btn btn-gradient-secondary me-2">Go Back</a>
      <button id="submit" type="submit" class="btn btn-gradient-primary me-2">Submit</button>
    </form>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

