@model CompanyDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Company Form</h4>
    <p class="card-description">Company Details</p>
    <form class="forms-sample">
      <div class="form-group row">
        <label asp-for="Name" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <input asp-for="Name" type="text" class="form-control-plaintext" id="exampleInputUsername2" readonly>
      </div>
      </div>
      <div class="form-group row">
        <label asp-for = "Notes" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            @Model.Notes
        </div>  
      </div>
      <a asp-action="Index" class="btn btn-gradient-secondary me-2">Go Back</a>
    </form>
  </div>
</div>

